*{
    padding: 0em;
    margin: 0em;
}

body, html{
    height: 100%;
    width: 100%;
    
    
}
.f_calc{
    background: linear-gradient(40deg, rgba(55, 129, 199,0.7), 
    rgba(107, 31, 194, 0.7),
     rgba(156, 6, 6, 0.7), rgba(26, 98, 165, 0.7), 
     rgba(26, 98, 165, 0.7));
    filter: blur(15px);
    filter: brightness(100px);
    filter: drop-shadow(50px);
    margin-top: 1em;
    margin-left: 1em;
    width: 27em;
    height: 37em;
    display: -webkit-inline-box;
    position:-ms-page;
    position: absolute;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
}

#calculadora{
    background: rgba(255, 255, 255,0.5);
    margin-top: 2em;
    margin-left: 2em;
    width: 25em;
    height: 35em;
    display: -webkit-inline-box;
    position:-ms-page;
    position: absolute;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
}


#tela{
    position: relative;
    background-color: whitesmoke;
    width: 23em;
    height: 5em;
    display: flex;
    margin-left: 1em;
    margin-top: 1em;
    box-sizing: border-box;
    float: center;
}

#teclas{
    
    width: 23em;
    height: 25em;
    display: inline-flex;
    margin-left: -23em;
    margin-top: 10em;
    box-sizing: content-box;
    position: relative;
    
    
}

button{
    font-size: 2em;
    width: 3em;
    height: 1em;
    }

section{
    width: 23em;
    height: 8em;
     position: relative;
}
#s1{
 display: inline-flex;
 box-sizing: border-box;
margin-left: 2em;
padding-bottom: 1em;
}

#s2{
    display: flex;
    box-sizing: border-box;
    margin-top: 2em;
    margin-left: -12em;
    
    
}

#s3{
    display: flex;
    box-sizing: border-box;
    margin-top: 4em;
    margin-left: -18em;
    
}

#s4{
    display: flex;
    box-sizing: border-box;
    margin-top: 6em;
    margin-left: -18em;
    
}
#s5{
    display: flex;
    box-sizing: border-box;
    margin-top: 8em;
    margin-left: -18em;
       
    
}
#s6{
   
    margin-top: -1em;
    
}

#n0{
    width: 9em;
}

#b_soma, #b_subtr, #b_multp, #b_divisao, #b_igual{
    text-align: center;
    width: 1.5em;
}
#b_soma{
    height: 2.2em;
    
}

button:hover{
    background-color:lightblue;

}
#tela_min, #tela_calc{
    position: absolute;

    height: 2em;
    width: 27.5em;
    box-sizing: border-box;
  
}

#tela_calc{
    border: 0 none;
    outline: 0;
}


#tela_max{
   
  
    display: block;
    height: 3em;
    width: 23em;
    box-sizing: border-box;
    position:absolute;
    top: 2em;
    text-align: right;
    padding-right: 1em;
    padding-top: 0.5em;
    
   
}

.sp1{
    font-size: 2em;
    width: 11.39em;
    text-align: right;
    border: 0 none;
}